<h1><i class="fa fa-snowflake-o" aria-hidden="true"></i> {{title}}</h1>

<div id="bannerDiv">
  <img src="images/welding_combined.jpg" id="banner" alt="SNOMED image" />
</div>

<h2><i class="fa fa-snowflake-o" aria-hidden="true"></i> ED Ankle Assessment Form</h2>

<form onsubmit="return false;" class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend><i class="fa fa-snowflake-o" aria-hidden="true"></i> ED EMR</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="visitReason"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Reason for visit</label>  
    <div class="col-md-8">
      <input id="visitReason" name="visitReason" type="text" placeholder="Why are you here?" class="form-control input-md">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="injurySite"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Site</label>  
    <div class="col-md-8">
      <input id="injurySite" name="injurySite" type="text" placeholder="Affected area" class="form-control input-md">
    </div>
  </div>

  <!-- Multiple Radios -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="problemTypeRadios-0"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Problem type</label>
    <div class="col-md-8">
      <div class="radio">
        <label for="problemTypeRadios-0">
          <input type="radio" name="problemTypeRadios" id="problemTypeRadios-0" value="1" checked="checked">
          Trauma
        </label>
      </div>
      <div class="radio">
        <label for="problemTypeRadios-1">
          <input type="radio" name="problemTypeRadios" id="problemTypeRadios-1" value="2">
          Non-trauma
        </label>
      </div>
      <div class="radio">
        <label for="problemTypeRadios-2">
          <input type="radio" name="problemTypeRadios" id="problemTypeRadios-2" value="3">
          Unknown
        </label>
      </div>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="onset"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Onset</label>  
    <div class="col-md-8">
      <input id="onset" name="onset" type="text" placeholder="How did it occur?" class="form-control input-md">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="injuryDate"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Date of injury</label>  
    <div class="col-md-8">
      <input id="injuryDate" name="injuryDate" type="text" placeholder="Date of injury" class="form-control input-md">
    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="painSeverityRadios-0"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Pain severity</label>
    <div class="col-md-8"> 
      <label class="radio-inline" for="painSeverityRadios-0">
        <input type="radio" name="painSeverityRadios" id="painSeverityRadios-0" value="0" checked="checked">
        0
      </label> 
      <label class="radio-inline" for="painSeverityRadios-1">
        <input type="radio" name="painSeverityRadios" id="painSeverityRadios-1" value="1">
        1
      </label> 
      <label class="radio-inline" for="painSeverityRadios-2">
        <input type="radio" name="painSeverityRadios" id="painSeverityRadios-2" value="2">
        2
      </label> 
      <label class="radio-inline" for="painSeverityRadios-3">
        <input type="radio" name="painSeverityRadios" id="painSeverityRadios-3" value="3">
        3
      </label> 
      <label class="radio-inline" for="painSeverityRadios-4">
        <input type="radio" name="painSeverityRadios" id="painSeverityRadios-4" value="4">
        4
      </label> 
      <label class="radio-inline" for="painSeverityRadios-5">
        <input type="radio" name="painSeverityRadios" id="painSeverityRadios-5" value="5">
        5
      </label> 
      <label class="radio-inline" for="painSeverityRadios-6">
        <input type="radio" name="painSeverityRadios" id="painSeverityRadios-6" value="6">
        6
      </label> 
      <label class="radio-inline" for="painSeverityRadios-7">
        <input type="radio" name="painSeverityRadios" id="painSeverityRadios-7" value="7">
        7
      </label> 
      <label class="radio-inline" for="painSeverityRadios-8">
        <input type="radio" name="painSeverityRadios" id="painSeverityRadios-8" value="8">
        8
      </label> 
      <label class="radio-inline" for="painSeverityRadios-9">
        <input type="radio" name="painSeverityRadios" id="painSeverityRadios-9" value="9">
        9
      </label>
      <label class="radio-inline" for="painSeverityRadios-10">
        <input type="radio" name="painSeverityRadios" id="painSeverityRadios-10" value="10">
        10
      </label>
    </div>
  </div>

  <!-- Multiple Radios -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="analgesiaRadios-0"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Analgesia</label>
    <div class="col-md-8">
      <div class="radio">
        <label for="analgesiaRadios-0">
          <input type="radio" name="analgesiaRadios" id="analgesiaRadios-0" value="1" checked="checked">
          Yes
        </label>
      </div>
      <div class="radio">
        <label for="analgesiaRadios-1">
          <input type="radio" name="analgesiaRadios" id="analgesiaRadios-1" value="2">
          No
        </label>
      </div>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="analgesiaType"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Analgesia type</label>  
    <div class="col-md-8">
      <input id="analgesiaType" name="analgesiaType" type="text" placeholder="Analgesia type" class="form-control input-md"> 
    </div>
  </div>

  <!-- Multiple Checkboxes -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="sideCheckboxes-0"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Side</label>
    <div class="col-md-8">
      <div class="checkbox">
        <label for="sideCheckboxes-0">
          <input type="checkbox" name="sideCheckboxes" id="sideCheckboxes-0" value="1">
          Left
        </label>
      </div>
      <div class="checkbox">
        <label for="sideCheckboxes-1">
          <input type="checkbox" name="sideCheckboxes" id="sideCheckboxes-1" value="2">
          Right
        </label>
      </div>
    </div>
  </div>

  <!-- Multiple Checkboxes -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="anklePartCheckboxes-0"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Part of ankle</label>
    <div class="col-md-8">
      <div class="checkbox">
        <label for="anklePartCheckboxes-0">
          <input type="checkbox" name="anklePartCheckboxes" id="anklePartCheckboxes-0" value="1">
          Lateral
        </label>
      </div>
      <div class="checkbox">
        <label for="anklePartCheckboxes-1">
          <input type="checkbox" name="anklePartCheckboxes" id="anklePartCheckboxes-1" value="2">
          Medial
        </label>
      </div>
      <div class="checkbox">
        <label for="anklePartCheckboxes-2">
          <input type="checkbox" name="anklePartCheckboxes" id="anklePartCheckboxes-2" value="3">
        NOS ankle and/or foot
        </label>
      </div>
      <div class="checkbox">
        <label for="anklePartCheckboxes-3">
          <input type="checkbox" name="anklePartCheckboxes" id="anklePartCheckboxes-3" value="4">
        Deltoid ligament
        </label>
      </div>
      <div class="checkbox">
        <label for="anklePartCheckboxes-4">
          <input type="checkbox" name="anklePartCheckboxes" id="anklePartCheckboxes-4" value="5">
        Lateral ligament
        </label>
      </div>
    </div>
  </div>


  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="investigationsProcedures"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Investigations/Procedures</label>
    <div class="col-md-8">
      <input id="investigationsProcedures" name="investigationsProcedures" type="text" placeholder="" class="form-control input-md">
    </div> 
  </div>

  <!-- Multiple Checkboxes -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="investigationsCheckboxes-0"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Investigations</label>
    <div class="col-md-8">
      <div class="checkbox">
        <label for="investigationsCheckboxes-0">
          <input type="checkbox" name="investigationsCheckboxes" id="investigationsCheckboxes-0" value="1">
          X-ray
        </label>
      </div>
      <div class="checkbox">
        <label for="investigationsCheckboxes-1">
          <input type="checkbox" name="investigationsCheckboxes" id="investigationsCheckboxes-1" value="2">
          Ultrasound
        </label>
      </div>
      <div class="checkbox">
        <label for="investigationsCheckboxes-2">
          <input type="checkbox" name="investigationsCheckboxes" id="investigationsCheckboxes-2" value="3">
          CT
        </label>
      </div>
    </div>
  </div>

  <!-- Multiple Checkboxes -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="proceduresCheckboxes-0"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Procedures</label>
    <div class="col-md-8">
      <div class="checkbox">
        <label for="proceduresCheckboxes-0">
          <input type="checkbox" name="proceduresCheckboxes" id="proceduresCheckboxes-0" value="1">
          Nerve block
        </label>
      </div>
      <div class="checkbox">
        <label for="proceduresCheckboxes-1">
          <input type="checkbox" name="proceduresCheckboxes" id="proceduresCheckboxes-1" value="2">
          Acupuncture
        </label>
      </div>
    </div>
  </div>

  <!-- Multiple Checkboxes -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="injuryTypeCheckboxes-0"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Type of injury</label>
    <div class="col-md-8">
      <div class="checkbox">
        <label for="injuryTypeCheckboxes-0">
          <input type="checkbox" name="injuryTypeCheckboxes" id="injuryTypeCheckboxes-0" value="1">
          Sprain
        </label>
      </div>
      <div class="checkbox">
        <label for="injuryTypeCheckboxes-1">
          <input type="checkbox" name="injuryTypeCheckboxes" id="injuryTypeCheckboxes-1" value="2">
          Fracture
        </label>
      </div>
      <div class="checkbox">
        <label for="injuryTypeCheckboxes-2">
          <input type="checkbox" name="injuryTypeCheckboxes" id="injuryTypeCheckboxes-2" value="3">
        Contusion
        </label>
      </div>
      <div class="checkbox">
        <label for="injuryTypeCheckboxes-3">
          <input type="checkbox" name="injuryTypeCheckboxes" id="injuryTypeCheckboxes-3" value="4">
        Laceration
        </label>
      </div>
    </div>
  </div>

  <!-- Multiple Radios -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="severityRadios-0"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Severity</label>
    <div class="col-md-8">
      <div class="radio">
        <label for="severityRadios-0">
          <input type="radio" name="severityRadios" id="severityRadios-0" value="1" checked="checked">
          Grade I
        </label>
      </div>
      <div class="radio">
        <label for="severityRadios-1">
          <input type="radio" name="severityRadios" id="severityRadios-1" value="2">
          Grade II
        </label>
      </div>
      <div class="radio">
        <label for="severityRadios-2">
          <input type="radio" name="severityRadios" id="severityRadios-2" value="3">
          Grade III
        </label>
      </div>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="primaryAssessment"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Primary Assessment</label>  
    <div class="col-md-8">
      <input id="primaryAssessment" name="primaryAssessment" type="text" placeholder="primary" class="form-control input-md">
    </div>
  </div>

  <!-- Select Basic - for testing -->
  <!-- <div class="form-group">
    <label class="col-md-4 control-label" for="selectbasic">Primary Assessment - please select</label>
    <div class="col-md-8">
      <select id="selectbasic" name="selectbasic" class="form-control">
        <option value="1">Sprain of ankle</option>
        <option value="2">Sprain, ankle joint, lateral</option>
        <option value="3">Sprain, ankle joint, medial</option>
        <option value="4">Sprain of ankle grade I</option>
        <option value="5">Sprain of ankle grade II</option> 
        <option value="6">Sprain of ankle grade III</option>
        <option value="7">Sprain of ankle and/or foot</option>
        <option value="8">Sprain of deltoid ligament of ankle</option>   
        <option value="9">Sprain of lateral ligament of ankle</option>                        
      </select>
    </div>
  </div> -->

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="mytextinput"><span style="color:red">Type your query here <i class="fa fa-arrow-right" aria-hidden="true"></i></span> <i class="fa fa-snowflake-o" aria-hidden="true"></i> Query</label>  
    <div class="col-md-8">
      <input id="mytextinput" name="mytextinput" type="text" placeholder="enter your text here e.g. ankle" class="form-control input-md" required="">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="queryResult"><span style="color:red">The Ontoserver results will appear here <i class="fa fa-arrow-right" aria-hidden="true"></i></span> <i class="fa fa-snowflake-o" aria-hidden="true"></i> Result</label>
    <div id="resultPane" class="col-md-8">
      Nothing
    </div>
  </div>

    <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="sendbutton"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Submit Diagnosis</label>
    <div class="col-md-8">
      <button id="sendbutton" name="sendbutton" class="btn btn-primary">Submit</button>
    </div>
  </div>

  </fieldset>
</form>

<script>
  $(document).ready(function() {
    console.log("Hello, DOM ready");

    $("#mytextinput").on('keyup', function() {
      console.log("mytextinput changed");

      var searchQuery = $("#mytextinput").val();
      console.log("searchQuery is " + searchQuery)

      var form = new FormData();
      form.append("file", "");

      var settings = {
        "async": true,
      	"crossDomain": true,
      	"url": "https://ontoserver.csiro.au/fhir/ValueSet/$expand?identifier=http%3A%2F%2Fsnomed.info%2Fsct%3Ffhir_vs%3Disa%2F428776005&count=10&filter=" + searchQuery,
      	"method": "GET",
      	"headers": {
        		   "accept": "application/json+fhir",
        		   "cache-control": "no-cache",
        		   "postman-token": "89b6d96d-c098-d6f8-a263-fe3385ba8882"
          },
      	"processData": false,
      	"contentType": false,
      	"mimeType": "multipart/form-data",
      	"data": form
      }

      if(searchQuery.length >= 3) {
        $.ajax(settings)
          .done(function (response) {
         		console.log(response);
            var respObj = JSON.parse(response);
            var displayText = '<select name="queryResult" class="form-control">';
            var max = respObj["expansion"]["contains"].length;
            for(var i=0; i < max; i++) {
              var retrStr = respObj["expansion"]["contains"][i]["display"].toString()
              console.log("retrStr is: " + retrStr)
              displayText = displayText + "<option value=\"" + retrStr + "\">" + retrStr + "</option>";
            }
            displayText = displayText + "</select>"
            console.log("type of displayText is : ", (typeof displayText))
            $("#resultPane").html(displayText || "Oops! I couldn't find the Ontoserver.");
          });
      };
    });

    $('#sendbutton').on('click', function() {
      alert('Data submitted');
    });
  });
</script>