body {
  padding: 50px;
  font-family: 'ABeeZee', sans-serif;
  font-size: 14px;
}

a {
  color: #00B7FF;
}

#banner {
  width: 100%;
}

#bannerDiv {
  margin: 10px -50px 10px -50px; /* top right bottom left */
}

.control-label {
    color: #475983;
}