body {
  padding: 50px;
  font-family: 'ABeeZee', sans-serif;
  font-size: 14px;
  background-color: lightblue;
}

a {
  color: #00B7FF;
}

#banner {
  width: 100%;
}

#bannerDiv {
  margin: 10px -50px 10px -50px; /* top right bottom left */
}

.control-label {
    color: #475983;
}

.form-group {
    background-color: #e6eeff;
    border-radius: 5px;
    /*box-shadow: 3px 3px 2px #AAAAAA;*/
    padding: 5px;
}